<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewPedia: Làm Kombucha Tại Nhà Dễ Dàng</title>
    <script src="../scripts/mainPage.js"></script>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="icon" href="../images/webicon/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- https://cdnjs.com/libraries/font-awesome -->
</head>

<body>
    <!-- load trang web -->
    <div id="preloader"></div>
    <style>
        #preloader{
        background: #FFF;
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        }
    </style>
    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load", function(){
            setTimeout(function(){
                loader.style.opacity = 0;
                loader.style.transition = "opacity 1s ease";
                setTimeout(function(){
                    loader.style.display = "none";
                }, 1000);
            }, 150);
        })
    </script> 
    <!-- load trang web -->


    <div id="header"></div>
    <script src="../scripts/linkHeader.js"></script>
    
    <div class="banner" id="banner">
        <img src="../images/home/Made-it-easy.png" alt="banner">
        <div class="banner-text">
            <img src="../images/home/Made-it-easy-text.png" alt="">
            <p>Chúng mình là một nhóm các bạn trẻ đam mê pha chế tại nhà và đã giúp hàng trăm người tự tay làm kombucha ngay trong căn bếp của mình!</p>
        <button>
            <a href="https://www.facebook.com/groups/2103347326600975">Tham gia cùng chúng mình!</a>
        </button>
        </div>
    </div>

    <script>
        var banner =document.getElementById("banner");
        window.addEventListener("load", function() {
            const banner = document.querySelector(".banner");
            if (banner) {
                banner.scrollIntoView({
                    behavior: "auto",
                    block: "start"
                });
            }
        });
    </script>


    <div class="main-content">
        
        <div class="menu1">
            <ul>
                <li>
                    <a href="../views/tutorial.html">
                        <span>Bắt đầu ủ</span>
                        <img src="../images/home/how-to-make-homemade-kombucha-photo-2-480x480.jpg" alt="cách làm Kombucha">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Chọn hương vị</span>
                        <img src="../images/home/homemade-multi-green-kombucha-featured-480x480.jpg" alt="Chọn Hương vị">
                    </a>
                </li>
                <li>
                    <a href="../views/shop.html">
                        <span>Dụng cụ</span>
                        <img src="../images/home/blueberry-kombucha-recipe-1-480x480.jpg" alt="Dụng cụ">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Sách hướng dẫn</span>
                        <img src="../images/home/kickass-comprehensive-500x500.png" alt="Sách hướng dẫn">
                    </a>
                </li>
            </ul>
        </div>

        <div class="brief-introduction">
            <figure>
                <img src="../images/home/sarah-kombucha-4.jpg" alt="Ảnh minh họa">
            </figure>
            <div class="introduction-paragraph">
                <p class="head-paragraph">Hãy cùng ngâm Kombucha nhé!</p>
                <p>Chúng mình là một nhóm các bạn trẻ đam mê pha chế tại nhà và đã giúp hàng trăm người tự tay làm kombucha ngay trong căn bếp của mình!</p>
                <p>Tình yêu với kombucha của tụi mình cũng bắt đầu y chang bao người khác – nghiện mấy chai kombucha bán sẵn đến mức móc hầu bao không suy nghĩ. Cho đến một ngày đẹp trời, tụi mình lạc vào thế giới kombucha tự làm. Kể từ đó, tụi mình nói không với kombucha đóng chai luôn!</p>
                <button>
                    <a href="https://www.facebook.com/groups/2103347326600975">Tham gia cùng chúng mình!</a>
                </button>
                <div class="social">
                    <a href="https://www.instagram.com/iamjack1997/">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/jack.phuongtuan1204">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://www.youtube.com/@J97imjack">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>


        </div>

        <div class="menu2">
            <h1 class="menu2-head-paragraph">Tìm hương vị yêu thích</h1>

            <div class="menu2-card">
                <ul>
                    <li>
                        <span>Hương trái cây</span>
                        <img src="../images/home/rosemary-grape-kombucha-featured-320x320.jpg" alt="Hương trái cây">
                    </li>
                    <li>
                        <span>Hương gia vị</span>
                        <img src="../images/home/CHAI-SPICE-kombucha-featured-320x320.jpg" alt="Hương trái cây">
                    </li>
                    <li>
                        <span>Hương thảo mộc</span>
                        <img src="../images/home/homemade-multi-green-kombucha-featured-480x480.jpg" alt="Hương thảo mộc">
                    </li>
                    <li>
                        <span>Hương hoa</span>
                        <img src="../images/home/elderflower-kombucha-featured-320x320.jpg" alt="Hương hoa">
                    </li>
                    <li>
                        <span>Hương vị mùa nóng</span>
                        <img src="../images/home/kombucha-shandy-recipe-3-378x378.jpg" alt="Hương vị mùa nóng">
                    </li>
                    <li>
                        <span>Hương vị mùa lạnh</span>
                        <img src="../images/home/gluhwein-kombucha-featured-320x320.jpg" alt="Hương vị mùa lạnh">
                    </li>
                </ul>
            </div>
        </div>

        <div class="what-is-kombucha">
            <h1>Kombucha là gì ?</h1>
            <p>Kombucha là một loại đồ uống lên men có ga, giàu probiotics tốt cho đường ruột, được làm từ trà lên men. Tự nấu kombucha tại nhà không chỉ giúp tiết kiệm chi phí mà còn cho phép bạn tự tạo ra những hương vị kết hợp độc đáo theo ý thích. Và điều tuyệt nhất? Thực ra việc làm kombucha dễ hơn nhiều so với vẻ bề ngoài.</p>
        </div>

        <div class="top-flavors">
            <h1>TOP 10 HƯƠNG VỊ</h1>
            <hr>
        </div>

    </div>

    <div id="footer"></div>
    <script src="../scripts/linkFooter.js"></script>

</body>

</html>