<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How to Make Kombucha (A Beginners Guide!) | Brew Buch</title>
    <link rel="icon" href="../images/webicon/favicon.png" />
    <link rel="stylesheet" href="../css/template/header.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/how-to-make-kombucha.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="header"></div>

    <div class="container-main">
        <div class="main-content">
            <a href="#">home</a>
            <h1>How to Make Kombucha</h1>
            <q>Ever wondered how kombucha – the deliciously fizzy fermented tea – is
                made? We’re breaking down the basics of how to make kombucha, from
                start to finish! No fancy equipment or ingredients needed.</q>
            <img src="../images/image.png" alt="">
            <p>Curious how to make kombucha, the gut-loving <mark>healthy fermented tea?</mark> Tired of paying $5 per
                bottle when
                you could be making it at home for a <mark>fraction of the price?</mark> Let’s brew!</p>
                <p>Making homemade kombucha has three main steps (click the links below to jump around the post):</p>
                <ul>
                    <li><span>1</span><mark>Make SCOBY</mark> (1 to 4 weeks) – make the “mother”</li>
                    <li><span>2</span><mark>First Fermentation</mark> (6 to 10 days) – make the actual kombucha tea</li>
                    <li><span>3</span><mark>Second Fermentation</mark> (3 to 10 days) – carbonate the kombucha tea</li>
                </ul>
                <img src="../images/image copy.png" alt="">
                <span>This post contains <mark>affiliate links</mark> , and I may earn from qualifying purchases.</span>
                <img src="../images/image copy 2.png" alt="" width="736" height="39" style="margin: 2rem;">
                <img src="../images/image copy 3.png" alt="" height="400">
            </div>
    </div>
    <script src="../scripts/linkHeader.js"></script>
</body>

</html>