<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewPedia: Giới thiệu</title>
    <link rel="stylesheet" href="../css/main-article-style.css">
    <link rel="icon" href="../images/webicon/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- https://cdnjs.com/libraries/font-awesome -->
</head>

<body>
    <div id="header"></div>
    <script src="../scripts/linkHeader.js"></script>
    <div class="container">
        <h1>Xin chào!</h1>
        <p>
            Chào mừng bạn đến với Brewpedia! Tôi là ..., người có niềm đam mê với kombucha ở đây!. Tôi đã tốt nghiệp Đại học Quốc Gia Hà Nội với bằng Cử nhân Dinh dưỡng con người, sau đó tiếp tục niềm đam mê về sức khỏe bằng việc hoàn thành bằng Thạc sĩ Khoa học Cảm quan (nghiên cứu về thực phẩm liên quan đến các giác quan). Nói một cách đơn giản, tôi yêu thực phẩm.
        </p>
        <p>Ban ngày, tôi phát triển và chụp ảnh các công thức cho blog ẩm thực chay của mình. Ban đêm, chúng tôi ủ những mẻ kombucha tuyệt vời.</p>
        <h2>Tại sao lại là Brewpedia?</h2>
        <p>
            Sự tò mò về sức khỏe và hương vị (kết hợp với số tiền ngày càng tăng mà tôi đã chi cho kombucha làm sẵn) đã dẫn tôi đến việc thử tự ủ kombucha tại nhà. Đó là môt sự thành công ngay lập tức, và tôi đã chia sẻ điều đồ trên blog của mình trong bài viết "Hưỡng dẫn làm kombucha cho người mới bắt đầu".
        </p>
        <p>
            Và điều tuyệt vời về internet? Thành công của tôi với kombucha đã trở thành thành công của rất nhiều người khác. Bài viết "Hướng dẫn làm kombucha cho người mới bắt đầu" đã nhanh chóng trở thành bài viết phổ biến nhất trên blog của tôi, với hàng trăm người sử dụng công thức này để tự làm kombucha từ đầu!
        </p>
        <p>
            Và đó là lý do Brewpedia ra đời. Tôi muốn tạo ra một không gian để đi sâu vào việc ủ kombucha tại nhà. Một không gian nơi chúng ta có thể trả lời tất cả các câu hỏi về kombucha (nó không phải là nấm mốc) và là nơi chúng ta có thể thử nghiệm tất cả các hương vị
        </p>

        <h2>Hãy đi ủ thôi!</h2>
        <p>
            Mọi người đã sẵn sàng chưa? Dưới đây là những kiến thức cơ bản về việc ủ kombucha tuyệt vời của chúng tôi
        </p>

        <ul class="image-list">
            <li><a class="highlight" href="./tutorial.html">Học cách bắt đầu ủ tại đây!</a></li>
            <li>Tham khảo các <a class="highlight" href="">ý tưởng hương vị</a> ngon lành của chúng tôi</li>
            <li><a class="highlight" href="">Giải đáp những câu hỏi</a> đang làm bạn lăn tăn</li>
        </ul>
        <p>
            Bạn muốn nâng cao kỹ năng? Tôi đã tạo ra nhiều tài nguyên để giúp bạn ủ được những mẻ kombucha tốt nhất có thể!
        </p>
        <ul class="image-list">
            <li>Nhận hưỡng dẫn chi tiết 49 trang về việc ủ kombucha tuyệt vời</li>
            <li>Tham gia <a class="highlight" href="">nhóm Facebook</a> miễn phí của chúng tôi dành cho những người ủ kombucha tuyệt vời</li>
        </ul>

        <h2>Chúc bạn ủ vui vẻ!</h2>
    </div>
    
    <footer>
        
    </footer>

</body>

</html>