<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewPedia: Giới thiệu</title>
    <link rel="stylesheet" href="../css/main-article-style.css">
    <link rel="icon" href="../images/webicon/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/shop.css">
    <!-- https://cdnjs.com/libraries/font-awesome -->
</head>

<body>
    <div id="header"></div>
    <script src="../scripts/linkHeader.js"></script>
    <div class="container">
        <p class="entry-text">Để giúp bạn ủ kombucha thành công, chúng tôi xin giới thiệu những dụng cụ tâm đắc nhất, từ cơ bản cho 2 giai đoạn lên men, đến những công cụ cao cấp hơn.</p>
        <div id="guide">
            <h1 class="title-center">Hướng dẫn tạo Kombucha tuyệt hảo</h1>
            <p>Bạn không thể ủ Kombucha ngon nếu không có bí quyết! Dưới đây là những tài liệu của chúng tôi có thể giúp bạn tạo được Kombucha tuyệt hảo</p>
            <div class="figure-img-2">
                <figure class="img-2">
                    <img src="../images/shop/kickass-comprehensive.jpg" class="img-square">
                    <figcaption class="img-cap">
                        Sách hướng dẫn toàn diện<br><a class="highlight">Mua nếu bạn muốn</a>
                    </figcaption>
                </figure>
                <figure class="img-2">
                    <img src="../images/shop/kickass-tracker.jpg" class="img-square">
                    <figcaption class="img-cap">Lịch trình theo dõi Kombucha <br>
                        <b>Sắp ra mắt</b></figcaption>
                </figure>
            </div>
            <div class="figure-img-2">
                <figure class="img-2">
                    <img src="../images/shop/kickass-community.jpg" class="img-square">
                    <figcaption class="img-cap">
                        Cộng đồng Facebook<br>
                        <a class="highlight">Tham gia ngay</a>
                    </figcaption>
                </figure>
                <figure class="img-2">
                    <img src="../images/shop/kickass-simple.jpg" class="img-square">
                    <figcaption class="img-cap">
                        Công thức Kombucha cơ bản <br>
                        <a class="highlight">Tải ngay</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div id="supplies">
            <h1 class="title-center">Dụng cụ ủ Kombucha</h1>
            <h2 class="title-left">Lên men lần đầu</h2>
            <p>
                Ở giai đoạn lên men đầu tiên, bạn cần ba món đồ sau: một cái hũ lớn, một tấm vải để đậy hũ, một cái ray để lọc Kombucha. Chúng tôi khuyến khích bạn dùng hũ có vòi vì nó tiện cho việc đóng chai.
            </p>
            <div class="figure-img-4">
                <figure class="img-4">
                    <img src="../images/shop/jar.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Hũ</a>
                    </figcaption>
                </figure>
                <figure class="img-4">
                    <img src="../images/shop/jar_spigot.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Hũ có vòi</a>
                    </figcaption>
                </figure>
                <figure class="img-4">
                    <img src="../images/shop/sieve.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Rây lọc</a>
                    </figcaption>
                </figure>
                <figure class="img-4">
                    <img src="../images/shop/cheesecloth.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Vải mỏng</a>
                    </figcaption>
                </figure>
            </div>
            <h2 class="title-left">Lên men lần hai</h2>
            <p>
                    Lần lên men thứ hai bạn nên chọn chai có nút bật chuyên dụng để lên men, loại chai này sẽ giữ khí CO2 làm Kombucha có độ sủi bọt tốt nhất! Ngoài ra bạn có thể dùng nhãn dán để ghi chú lên chai. Cuối cùng là một chiếc máy xay sinh tố xay nhuyễn trái cây để tạo vị cho Kombucha ngon hơn!
            </p>
            <div class="figure-img-4">
                <figure class="img-4">
                    <img src="../images/shop/glass_bottles.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Chai thuỷ tinh có nắp gài</a>
                    </figcaption>
                </figure>
                <figure class="img-4">
                    <img src="../images/shop/grolsch_bottles.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Chai Grolsch có nắp gài</a>
                    </figcaption>
                </figure>
                <figure class="img-4">
                    <img src="../images/shop/label.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Nhãn dán</a>
                    </figcaption>
                </figure>
                <figure class="img-4">
                    <img src="../images/shop/blender.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Máy xay sinh tố</a>
                    </figcaption>
                </figure>
            </div>
            <h2 class="title-left">Nguyên liệu</h2>
            <p>
                Bạn chỉ cần vài nguyên liệu là đã có thể ủ Kombucha: đường, trà và Kombucha. Bạn có thể mua SCOBY hoặc tự làm nhưng sẽ tốn khá nhiều công đoạn. Để làm sạch hũ và dụng cụ thì chỉ cần giấm trắng là đủ.
            </p>
            <div class="figure-img-4">
                <figure class="img-4">
                    <img src="../images/shop/lipton.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Trà lipton</a>
                    </figcaption>
                </figure>
                <figure class="img-4">
                    <img src="../images/shop/kombucha_pure.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Kombucha Synergy tinh chất</a>
                    </figcaption>
                </figure>
                <figure class="img-4">
                    <img src="../images/shop/scoby.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">SCOBY</a>
                    </figcaption>
                </figure>
                <figure class="img-4">
                    <img src="../images/shop/vingar2.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Giấm trắng</a>
                    </figcaption>
                </figure>
            </div>
            <h2 class="title-left">Sản phẩm đặc biệt</h2>
            <p>
                Nếu bạn là một người muốn nâng cao kĩ năng ủ Kombucha thì không thể thiếu những sản phẩm sau đây. Chúng không chỉ có giá phải chăng mà còn rất hữu ích trong việc đảm bảo môi trường lên men ổn định.
            </p>
            <div class="figure-img-4">
                <figure class="img-4">
                    <img src="../images/shop/ph_test.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Giấy đo PH</a>
                    </figcaption>
                </figure>
                <figure class="img-4">
                    <img src="../images/shop/alcohol_indicator.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Cồn kế</a>
                    </figcaption>
                </figure>
                <figure class="img-4">
                    <img src="../images/shop/electric_jar.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Thiết bị làm ấm hũ</a>
                    </figcaption>
                </figure>
                <figure class="img-4">
                    <img src="../images/shop/thermometer.jpg" class="img-square">
                    <figcaption class="img-cap">
                        <a class="highlight">Nhiệt kế điện tử</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        
        
    </div>
    <div id="footer"></div>
    <script src="../scripts/linkFooter.js"></script>

</body>

</html>