<footer class="footer">
    <div class="left-footer">
        <a href="../views/home.html"></a>
            <img src="../images/webicon/web_logo.png" width="280px" alt="BrewPedia Logo" class="website-logo">
        </a>
        <div class="social">
            <a href="https://www.instagram.com/iamjack1997/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/jack.phuongtuan1204">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.youtube.com/@J97imjack">
                <i class="fa-brands fa-youtube" style="color: #333;"></i>
            </a>
        </div>
    </div>

    <div class="right-footer">
        <ul id="Connect">
            <li>Kết Nối</li>
            <li>Nhóm Facebook</li>
            <li>Về Chúng Tôi</li>
            <li>Instargram</li>
            <li>Youtube</li>
            <li>Facebook</li>
        </ul>

        <ul id="Flavors">
            <li>Hương Vị</li>
            <li>Hương Trái Cây</li>
            <li>Hương Gia Vị</li>
            <li>Hương Thảo Mộc</li>
            <li>Hương Hoa</li>
            <li>Hương Vị Mùa Nóng</li>
            <li>Hương Vị Mua Lạnh</li>
        </ul>

        <ul id="Faq">
            <li>FAQ</li>
            <li>Cách làm Kombucha</li>
            <li>Nó có phải mốc không?</li>
            <li>Cách làm Kombucha cồn</li>
            <li>Hướng dẫn về men Kahm</li>
            <li>Ngăn chai bị nổ</li>
        </ul>

        <ul id="Supplies" >
            <li>Nguyên Liệu</li>
            <li>Bộ Dụng Cụ Khởi Đầu</li>
            <li>Hướng Dẫn Đầy Đủ 49 Trang</li>
            <li>Hướng Dẫn Quà Tặng Kombucha</li>
        </ul>
    </div>
</footer>