<div class="comprehensive">
    <a href="https://www.liveeatlearn.com/comprehensive-kombucha/">Nhận hướng dẫn toàn diện →</a>
</div>

<header class="header">
    <div class="left-header">
        <a href="../views/home.html"> 
            <!-- nhớ thay thành landing-page -->
            <img src="../image/webicon/web logo.png" width="290" alt="BrewPedia Logo" />
        </a>
    </div>
    <div class="right-header">
        <ul>
            <li><a href="../views/how-to-make-kombucha.html">Đi Ngâm Thôi</a></li>
            <li>
                <span>Hương Vị <i class="fa-solid fa-chevron-down"></i></span>
                <ul class="Flavors_ul">
                    <li>Hương Trái Cây</li>
                    <li>Hương Gia Vị</li>
                    <li>Hương Thảo Mộc</li>
                    <li>Hương Hoa</li>
                    <li>Hương Vị Mùa Nóng</li>
                    <li>Hương Vị Mùa Lạnh</li>
                </ul>
            </li>
            <li>
                <span>FAQ <i class="fa-solid fa-chevron-down"></i></span>
                <ul class="FAQ_ul">
                    <li>Báo Sự Cố</li>
                    <li>Dinh Dưỡng</li>
                    <li>Bảo Quản</li>
                    <li>Công Cụ</li>
                </ul>
            </li>
            <li>Cửa Hàng</li>
            <li>Giới Thiệu</li>
            <li>Cộng Đồng</li>
        </ul>
        <svg width="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"></svg>
            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
        </svg>
    </div>
</header>