.figure-img-2{
    display: flex;
    .img-2{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-square{
            height: 360px;
            width: 360px;
        }
        .img-cap{
            text-align: center;
            background-color: #f2f2f2;
            width: 360px;
            font-size: 18px;
            padding: 8px;
        }
    }
}


.title-center{
    justify-content: center;
}
.title-left{
    justify-content: left; 
}
.figure-img-4{
    .img-4{
        width: 24.5%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        .img-square{
            object-fit: contain;
            height: 172px;
            width: 172px;
        }
        .img-cap{
            text-align: center;
            font-size: 18px;
            padding: 8px;
        }
    }
}