@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
body{
    font-family: 'Sen', sans-serif;
}
.guides {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.guides .guide {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guides .guide .img-square {
    height: auto;
    width: 90%;
    max-width: 360px;
    object-fit: contain;
}

.guides .guide .img-cap {
    text-align: center;
    background-color: #f2f2f2;
    width: 90%;
    max-width: 360px;
    font-size: 18px;
    padding: 8px;
}

.title-center {
    justify-content: center;
    line-height: 1.2;
    font-size: 40px;
    text-align: center;
}

.title-left {
    justify-content: left;
    line-height: 1.2;
    font-size: 35px;

}

.products {
    display: flex;
    flex-wrap: wrap;
    
}
.products .product {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.products .product:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.products .product:hover .img-square{
    transform: scale(1.1);
}
.products .product .img-square {
    object-fit: contain;
    height: 172px;
    width: 172px;
    transition: transform 0.8s ease;
}

.products .product .img-cap {
    font-size: 18px;
    padding: 8px;
    font-weight: 600;
    color: rgb(51, 51, 51);
}
.wrapper{
    overflow: hidden;
}
.addToCart{
    background-color: orange;
    height: 30px;
    width: 100%;
    border: 1px solid orange;
    border-radius: 2px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease, background-color 1s ease;
    align-content: center;
}
.addToCart.active{
    opacity: 1;
    cursor: pointer;
}
.product-name{
    cursor: pointer;
}
.wrapper{
    display: flex;
    position: relative;
    justify-content: center;
    height: fit-content;
}
.price {
    color: orange ;
    font-weight: bold;
    font-size: 18px;
}
p, .entry-text{
    font-size: 20px !important;
}
@media (max-width: 768px) {
    .guides .guide {
        width: 100%;
        margin-bottom: 20px;
    }
    .guides .guide .img-square,
    .guides .guide .img-cap {
        width: 90%;
        max-width: 100%;
    }
    
    .products .product {
        width: 50%;
        margin-bottom: 20px;
    }
    .products .product .img-square {
        width: 90%;
        max-width: 172px;
    }
    .products .product .img-cap {
        width: 90%;
        max-width: 172px;
    }
    .title-center{
        font-size: 35px;
    }
    .title-left{
        font-size: 30px ;
    }
    p, .entry-text{
        font-size: 18px !important;
    }
}

@media (max-width: 480px) {
    .guides .guide .img-square,
    .guides .guide .img-cap,
    .products .product .img-square,
    .products .product .img-cap {
        width: 100%;
        max-width: 100%;
    }
    .guides .guide .img-cap,
    .products .product .img-cap {
        font-size: 16px;
    }
    .products .product {
        width: 100%;
    }
}