.footer {
  background-color: #f2f2f2;
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 1rem 16rem;
}

.website-logo {
  max-width: none;
  height: auto;
  object-fit: cover;
}

.left-footer {
  display: flex;
  flex-direction: column;
  .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  a {
    text-decoration: none;
    i {
        font-size: 2.2rem;
        color: #333;
    }
  }
}
}
.right_footer {
  ul {
    padding: 0;
    flex-direction: column;
    display: flex;

    li {
      height: fit-content;
      position: relative;
      display: flex;
      align-items: flex;
    }
  }
}
